@import '../../../../vendor/filament/filament/resources/css/theme.css';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/filament/**/*.blade.php';